/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* TŁO */
body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at top, #2a2a2a, #000);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 60px;
}

/* STRONA */
.page {
    width: 100%;
    text-align: center;
}

/* TYTUŁ */
.title {
    color: white;
    font-size: 34px;
    letter-spacing: 2px;
    margin-bottom: 40px;
    animation: fadeDown 0.8s ease-out;
}

/* KARTA */
.card {
    background: white;
    width: 70%;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 40px 45px;
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    animation: fadeUp 0.9s ease-out;
}

.technician-wrapper {
    position: relative;
    width: 160px;
    margin: 0 auto 10px auto;
}

.technician {
    width: 160px;              /* ⬅️ TU JEST ROZMIAR */
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 2;

    animation: float 3.5s ease-in-out infinite;
}
.technician-shadow {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 18px;
    background: radial-gradient(
        ellipse at center,
        rgba(0,0,0,0.45) 0%,
        rgba(0,0,0,0.25) 40%,
        rgba(0,0,0,0.05) 70%,
        rgba(0,0,0,0) 80%
    );
    filter: blur(6px);
    z-index: 1;

    animation: shadow 3.5s ease-in-out infinite;
}


/* FORMULARZ */
.search-form {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.search-form input {
    width: 55%;
    padding: 14px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.search-form button {
    padding: 14px 26px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #1e73ff;
    color: white;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #155de0;
}

/* ANIMACJE */
@keyframes popIn {
    0% {
        transform: scale(0.8) translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
   @keyframes float {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-8px); }
    100% { transform: translateY(0);
         }
 @keyframes shadow {
    0%   { transform: translateX(-50%) scale(1); opacity: 0.45; }
    50%  { transform: translateX(-50%) scale(0.85); opacity: 0.25; }
    100% { transform: translateX(-50%) scale(1); opacity: 0.45; }
}

@keyframes fadeUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeDown {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

