body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;
    background-image: url("/static/technik.png");
    background-repeat: no-repeat;
    background-position: center 40px;
    background-size: 260px;
}

.container {
    max-width: 900px;
    margin: 320px auto 40px auto;
    background: rgba(255, 255, 255, 0.96);
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.5);
    text-align: center;
}

h1 {
    margin-bottom: 25px;
    letter-spacing: 1px;
}

input[type="text"] {
    width: 70%;
    padding: 14px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    margin-top: 20px;
    padding: 14px 40px;
    font-size: 16px;
    background: #0d6efd;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #084298;
}
